.debug {
	background:white;
	width:100%;	
}
.flash{
font-size:25px;
-webkit-animation: changeColor 5s infinite; /* Safari 4+ */
                -moz-animation: changeColor 5s infinite; /* Fx 5+ */
                
                animation: changeColor 5s infinite; /* IE 10+ */
animation: colors 7s linear infinite reverse;
color:red;
}
@keyframes changeColor {
              0% {
                color: 'red';
              }

              100% {
                color: 'blue';
              }
            }
            @-moz-keyframes changeColor {
              0% {
                color: 'red';
              }

              100% {
                color: 'blue';
              }
            }
            @-webkit-keyframes changeColor {
              0% {
                color: 'red';
              }

              100% {
                color: 'blue';
              }
            }
			
body {
	
	background:#f2f5f6;
}
img{
max-width:100%;
}
#pageWrap {
	margin:0px auto 0px;
	border-width:2px;
	border-style:solid;
	
	border-color:#C5B358;
	font-family: Arial, Helvetica, sans-serif;
	padding:0px;
	text-align:left;
	background-color:white;
/*	background-color:red;*/
}

#pageWrap h1 {
	font-size:25px;
	color:#036BA7;
	border-bottom:1px dotted #C5B358;
}

#header {
	width:100%;
	margin:0px;	
	clear:both;
	
/*	background-color:orange;*/
	
}



#headerContact {
	/*float:right;*/
	font-size:20px;
	font-weight:bold;
	margin:25px 0px 0px 0px;
	/*width:300px;*/		
	color:black;

}

#subMenuHome {
	margin:5px 0px 5px 0px;	
	font-size:10pt;
	text-align:center;
	border:0;
	padding:0;
}

#adminMenu {
	background-color:#EAEAEA;
}
#adminMenu ul li a {
	color:black;
}

#subActive a {
	color:black;
	font-weight:bold;
}

.subMenu {
	width:100%;
	/*float:left;*/
	clear:both;
	height:25px;
	background-color:#C5B358;
}
.subMenu ul{
	list-style:none;
	display:inline;
	font-size:14px;
	line-height:22px;
	margin:0px 0px 0px -20px;
}

.subMenu ul li{
	list-style:none;
	list-style-type:none;
	display:inline;
	padding-right: 25px;
}

.subMenu ul li a {
	color:white;
}	

.subMenu ul li a:hover, .subMenu ul li.active a, .subMenu ul li.hover a, .subMenu ul li:hover a {
	color:#09548B;
}

#main {
	/*width:860px;*/
	margin:0px 20px;
	/*float:left;*/	
}

#mainInnerWrap {
	font-size:12px;	
}

#footer {
	width:100%;
	background-color:#036BA7;
	clear:both;
	text-align:center;
	color:white;
	font-size:10px;
	height:40px;
	line-height:10px;
}

.submitMessageBad {
	color:red;
	font-weight:bold;	
}
/*                   */
/* Page Specific CSS */
/*                   */

/* Home Page */
.nivoSlider {
    position:relative;
    /*dth:618px; /* Change this to your images width */
    height:246px; /* Change this to your images height */
    background:url(public_html/images/loading.gif) no-repeat 50% 50%;
}

.nivoSlider a {
    border:0;
    display:block;
}
#home-nivo-slider-wrap {
	margin:14%;
}

#home-slider {
	/*float:right*/
	width: 248px; 
	border:black; 
	border-style:solid; 
	margin: 15px 15px 0px 15px;
}
/*                     */
/* Leasing Application */
/*                     */
.submitError {
	display:none;
	color:red;
}

.labels {
	text-align:right;	
}

.appData {
	text-align:left;	
}
/*                   */
/*     Properties    */
/*                   */
.listProperties tr {
	border-bottom:1px dotted #C5B358;
	
}

.tableRowEven {
	background-color:#fde9d9;
}

.tableRowOdd {
	background-color:#ffffff;
}

.imgThumb {
	float:left;
	width:100px;
	margin:15px;
	text-align:center;
}

#propertyTop {
	clear:both;
	width:100%;
	font-size:25px;
	font-weight:bold;
	color:#036BA7;
	border-bottom:1px dotted #C5B358;
	height:	30px;
}

#propertyTop2 {
	clear:both;
	width:200px;
	font-size:15px;
	font-weight:bold;
	color:#036BA7;
	height:20px;
	float:right;
	text-align:center;
}

#propertyPrintHeader {
	float:left;
	width:100%;
	text-align:center;	
}

#propertyBottom {
	float:left;
	width:100%;
	clear:both;
}
#propertyLeft {
	float:left;
	width:40%;	
	margin:5px 20px 20px 20px;
}

#propertyRight {
	float:right;
	width:50%;
	margin:5px 20px 20px 20px;
}
/*                        */
/*   Lease Application    */
/*                        */
.leaseApp1stColumn {
	text-align:right;
	width:300px;
}


/*                        */
/*   Home Page Rules    */
/*                        */
#homeRight {
	/*width:540px;*/
	float:left;
}
#homeLeft {
	/*width:320px;*/
	float:left;
}

.specials {
	font-size:16px;
	font-weight:bold;
	color:red;
	text-shadow:1px 1px #666666;
}

.specials a:visited a:link {
	color:red;
}
.oldPrice {
	font-weight:normal;
	color:black;
}

.leaseApp2ndColumn {
	text-align:left;
	/*width: 300px;*/
}
/*                      */
/*      Admin Area      */
/*                      */



/*                     			*/
/*      Listing (vrbo style)    */
/*                      		*/
.listings-container {
	display:block;
	margin:0;
	padding:0;
	list-style:	none outside none;
}

.listing-single {
	padding:12px 0;
	border-bottom: 1px dashed #D3D3D8;
	clear:both;
	overflow:hidden;
	font-family:Palatino,Georgia,serif;
	font-size:24px;
}
.listing-center {
	padding-left:20px;
	width:60%;
	min-height:100px;
	float:left;
	display:block;
}

.listing-center a:link, a:visited {
	text-decoration:none;
	color:#036BA7;
}
	
.listing-center a:hover {
	text-decoration:underline;
}

.listing-right{
	/*float:right;*/
	width:18%;
	min-height:100px;
}

.listing-left {
	/*float:left;*/
	width:150px;
}

.listing-thumb {
	/*width:150px;*/
	height:auto;
	position:relative;
	
}

.listing-info {
	font-size: 16px;
	color:#666666;
}

.listing-Available {
	color: #ED6716;
}

.listing-bottom {
	width:60%;
	display:block;
	float:left;
	padding-left:20px;
	font-size:16px;
	color:#666666;
}

.filterButton {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.filterButton:hover {
	text-decoration: none;
}
.filterButton:active {
	position: relative;
	top: 1px;
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/*                      */
/*     Landing Pages    */
/*                      */
.propContainer {
	width:100%;
	float:left;
}

.landPropHeader a {
	color:#036BA7;
	width:100%;
}





.landLeft {
	font-size:18px;	
	width:30%;
	float:left;
}

.landMid {
	font-size: 20px;
	text-align:center;
	width:30%;
	float:left;
}

.landRight {
	font-size:18px;
	width:30%;
	float:left;
	text-align:center;
}

.vSpacer{
	width:2px;
	float:left;
	background-image:url(images/vSpacer.gif);
	height:150px;
	margin:15px;	
}

/*  Preview on Hover */
#preview{
	/*position:absolute;*/
	border:3px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
	box-shadow: 4px 4px 3px rgba(103, 115, 130, 1);
}

/* Lifestyle Image Gallery */
#imageContainer{
	/*width:450px;*/
}

#lifeMain{
	border:	3px solid black;
	max-height:300px;
	/*max-width:400px;*/	
}

.lifeThumbContainer{
	clear:both;
	/*width:450px;*/
	height:120px;
	max-height:120px;
}

.lifeThumbContainer img:hover {
	cursor: pointer; 
	cursor: hand;
}

.lifeGalleryArrow{
	margin: 10px 5px;	
}

.lifeGalleryThumbOn{
	border:gray 1px solid;
	width:98px;
	height:98px;
	margin: 10px 5px;
	visibility:visible;
}

.lifeGalleryThumbOff{
	width:1px;
	height:1px;
	visibility:hidden;
}

.wrapper1{
	color: #44433f;	
	font: 14px "Futura Medium", "Myriad Pro", "Gill Sans", Helvetica, Verdana, Arial, sans-serif;
	color:white;
	margin: 0;
	padding: 4px 0 0;
	}
	.wrapper1 a{
		color: #E5F2FB;
		text-decoration: none;
	}
	.wrapper1 a:hover {
		color: #09548B;
	}
	.wrapper1 p {
		margin: 0 0 17px;
		padding: 0;
		line-height: 18px;
	}
.wrapper {
	/*width: 710px;*/
	margin: 20px auto;
}
.nav {
	/*background: #fff url(images/nav_bg.png) repeat-x;*/
	/*float: left;*/
}
.nav-wrapper {
	clear: both;
	/*float: left;*//*move to media query*/
	margin-top: 10px;
	width:98%;
}
.nav-left {
	/*background: url(images/nav_left.png) no-repeat top left;*/
	float: left;
	
	height: 35px;
}

/*.nav-right {
	background: url(images/nav_right.png) no-repeat top right;
	/*float: left;*/
	/*width: 11px;
	height: 35px;
}*/
.nav ul {
	/*width: 648px;*/
	
	/*float: left;*/
	padding: 0;	
	margin: 0;
	list-style: none;
	font-size: 15px;
}
.nav li {
	/*float: left;*/
	padding: 0 7px;
	/*background: url(images/split.png) no-repeat right center;*/
	position: relative;
	z-index: 1;
}
.nav li.last {
	background:none;
}
.nav li:hover {
	z-index:2;
}
.nav li a {
	display: block;
	line-height: 35px;
	overflow: hidden;
	/*float: left;*/
	
}





.nav-sub {
	background-color:#C5B358;
	width:100%;
	clear:both;
	/*float:left;*/
	height:15px;
}
.contact {
	text-align: center;

	color:#036BA7;
	

	font-size:25px;
		}
/*when reach 700px, this changes the width*/
 @media only screen and (min-width:700px) {	
	#headerContact {
		width:400px;
	}
	#main{
	width:700px;
	}
	#pagewrap{
	width:90%;
	margin:auto;
		}
	
	.listing-thumb {
	
	box-shadow:0 1px 6px #999999;
	border:2px solid #FFFFFF;
}	
	.nav-wrapper{
	float: left;
	}
	.nav li{
	float: left;
	}
	.listing-right{
	float:right;
	}
	#pagewrap h1 {
	transition:all 0.5s ease-in-out;
		}
	#pagewrap h1:hover {
	letter-spacing:5px;
	text-shadow:0 0 2px red;
	font-size:40px;
	color:green;
	}

}